@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <img src="https://img.elo7.com.br/product/original/1767A05/painel-campo-de-futebol-festa-futebol.jpg" alt="CAMPO DE FUTEBOL"  style="width:80vw; height:80vh; margin-top:10px"/>
</div>
<!-- The navigation menu -->
