@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>
    Não foi Possível Cadastrar o Técnico ou Listar  Técnicos;
    Ao deletar se tiver algum time com esse técnico ele não deixa deletar.
</p>