@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>
    Não foi Possível Cadastrar o Times ou Listar  Times;
    Ao deletar se tiver algum jogador cadastrado com esse time ele não deixa deletar
    Ao deletar se tiver algum jogo cadastrado com esse time ele não deixa deletar
</p>